.filmCard {
  width: 240px;
  margin: var(--horizontal-gap) var(--horizontal-gap);
}

.filmLink {
  display: block;
}

.filmWrapImg {
  height: 300px;
  border: 1px solid var(--text-color-average);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.filmName {
  text-align: center;
  color: var(--text-color-average);
  font-weight: 600;
}